name: CI CD pipeline

on:
  push:
    branches: ["main"]
    paths-ignore:
      - '.github/workflows/*'
      - README.md
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Getting the Code
        run: git clone https://github.com/ajamil-techrayslabs/starter-code-cicd.git
      - name: Install node 20
        uses: actions/setup-node@v4
      - name: Installing Dependencies
        run: npm ci
      - name: Testing application
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Getting the code for build
        run: git clone https://github.com/ajamil-techrayslabs/starter-code-cicd.git
      - name: Install nade 20
        uses: actions/setup-node@v4
      - name: Installing Dependencies
        run: npm ci
      - name: Building application
        run: npm run build
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with: 
          name: github-pages
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4